:root {
  --NTorange: #ff6a13;
  --NTnavy: #0c2340;
  --NTroyal: #0056b8;
}

body {
  background-color: var(--NTnavy);
  padding: 10px;
}

a {
  color: white;
  font-family: nunito, sans-serif;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

h1 {
  font-family: orbitron, serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-size: 5em;
}

h2 {
  font-family: orbitron, serif;
  margin-bottom: 5px;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  color: white;
}

.subInfoText h2 {
  color: black;
}

h3 {
  font-family: orbitron, serif;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
}

h4 {
  font-family: nunito, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  font-size: 1.17em;
}

p {
  font-family: nunito, sans-serif;
}

#warning {
  color: red;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 90%;
}

.sideNav {
  position: sticky;
  top: 20px;
  background-color: var(--NTroyal);
  align-content: center;
  width: 175px;
  height: auto;
  align-self: start;
  overflow-x: auto;
}

li a {
  font-family: orbitron, serif;
  padding: 8px 16px;
  display: block;
}

ol {
  font-family: nunito, sans-serif;
  list-style-type: disc;
}

ol li {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  background-color: var(--NTorange);
}

.headingPhoto {
  height: 700px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  background-color: var(--NTorange);
}

.pageHeading {
  margin: 0px;
  background-color: rgb(12, 35, 64, 0.35);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.subInfoImage {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.topNav {
  background-color: var(--NTroyal);
  width: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 14.5% 14.5% 14.5% 14.5%;
  column-gap: 14%;
}

.navOpts ul {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.navOpts li {
  margin-left: 0px;
}

.navOpts li a {
  font-family: nunito, sans-serif;
  padding-left: 0;
  padding-right: 0;
}

.navOpts {
  display: none;
  text-align: left;
}

.navHead {
  margin-top: 10px;
  display: block;
}

.navHead:hover + .navOpts {
  display: block;
}

.navOpts:hover {
  display: block;
}

.navHead a {
  font-family: Orbitron, serif;
}

.navHead a:hover {
  font-weight: normal;
}

.sideNav .navHead a:hover {
  font-weight: bold;
}

.currentPlace {
  text-decoration: underline;
}

.topBanner {
  font-size: 1.17em;
}

.topBanner a {
  font-family: orbitron, serif;
  margin-top: 0.83em;
  margin-bottom: 5px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

.topBanner a:hover {
  font-weight: bolder;
}

/*Footer styling*/
footer {
  background-color: var(--NTroyal);
  padding: 15px;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

footer h4 {
  text-align: left;
}

.homeCardLink {
  color: black;
}

.homeCardLink:hover {
  font-weight: normal;
}

/*Members page styling*/
.homeCategory {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;
  align-self: start;
}

.wrappingBoarder .scroll {
  border-style: none;
  box-shadow: none;
}

.wrappingBoarder {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;

  border-radius: 50px 10px;
  border-style: solid;
  border-width: 8px;
  border-color: var(--NTnavy);

  box-shadow: 0px 0px 0px 8px var(--NTorange);
}

.subInfoText p {
  text-indent: 50px;
  text-align: left;
}

.subInfoText a {
  color: var(--NTorange);
}

.scroll {
  border-style: solid;
  border-width: 4px;
  border-color: var(--NTnavy);
  border-radius: 50px 10px;
  height: auto;
  min-height: 600px;
  box-shadow: 0px 0px 0px 8px var(--NTorange);
  overflow: hidden;
  background-color: white;
}

.threeColumnSubInfo .scroll {
  height: 300px;
}

.twoColumnSubInfo .scroll {
  height: 300px;
}

.curveCutOff {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px 0px;
}

.subInfoText {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.subInfoText p {
  margin: 10px 30px;
}

.threeColumnSubInfo {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  grid-row-gap: 40px;
  margin-top: 40px;
}

.twoColumnSubInfo {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  grid-row-gap: 40px;
  margin-top: 40px;
}

.subInfoTrueSize {
  padding-right: 12px;
  padding-left: 12px;
  padding: 12px;
}

.pageContent {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 40px;
  margin-bottom: 40px;
}

.pageAndNav {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 1%;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.listHeading {
  text-align: left;
  margin-left: 15px;
}

#dummy {
  visibility: hidden;
}

.topBanner {
  background-color: var(--NTorange);
  width: auto;
  padding: 5px;
  border-radius: 50px 10px 0px 0px;
}

.topBanner h3 {
  margin: 0px;
}

.topNavLogo {
  height: 42px;
  width: 50px;
  border-radius: 10px 2px;
}

.hamburgerIcon {
  display: none;
}

/*MEMBERS PAGE PHOTO POSITIONING SO IT CAN BE DIFFERENT FOR DIFFERENT SCREEN SIZES*/
#ryan img {
  object-position: center 55%;
}

#mike img {
  object-position: center 50%;
}

#andrew img {
  object-position: center 60%;
}

#ellie img {
  object-position: center 10%;
}

#joshua img {
  object-position: center 10%;
}

#balaji img {
  object-position: center 8%;
}

#isaiah img {
  object-position: center 75%;
}

#ishan img {
  object-position: center 10%;
}

#hudson img {
  object-position: center 5%;
}

#charlotte img {
  object-position: center 20%;
}

#katie img {
  object-position: center 15%;
}

#gayatri img {
  object-position: center 100%;
}

#nandan img {
  object-position: center 3%;
}

#david img {
  object-position: center 65%;
}

@media screen and (max-width: 1000px) {
  .topNavLogo {
    height: 84px;
    width: 100px;
  }

  li a {
    padding: 22px 0px;
  }

  .hamburgerIcon {
    display: block;
    align-self: center;
    font-size: 4em;
    justify-self: end;
  }

  .hamburgerIcon:hover {
    font-weight: normal;
  }

  .topNav {
    grid-template-columns: 100%;
  }

  .topNav .navHead {
    display: none;
  }

  .topNav .navOpts {
    display: none;
  }

  .threeColumnSubInfo {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    margin-bottom: 60px;
  }

  #dummy {
    display: none;
  }

  nav a {
    font-size: 1.75em;
  }

  p {
    font-size: 1.5em;
  }

  ol li {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 2em;
  }

  .topBanner {
    font-size: 2em;
  }

  h2 {
    font-size: 3em;
  }

  h1 {
    font-size: 6em;
  }

  .navHead a {
    pointer-events: none;
    font-weight: normal;
  }

  .hideInMobile {
    display: none;
  }

  /*MEMEBERS PAGE CHANGES*/
  #ryan img {
    object-position: center 30%;
  }

  #mike img {
    object-position: center 25%;
  }

  #andrew img {
    object-position: center 30%;
  }

  #ellie img {
    object-position: center 7%;
  }

  #joshua img {
    object-position: center 5%;
  }

  #balaji img {
    object-position: center 5%;
  }

  #isaiah img {
    object-position: center 40%;
  }

  #ishan img {
    object-position: center 7%;
  }

  #hudson img {
    object-position: center 4%;
  }

  #charlotte img {
    object-position: center 10%;
  }

  #katie img {
    object-position: center 9%;
  }

  #gayatri img {
    object-position: center 55%;
  }

  #nandan img {
    object-position: center 4%;
  }

  #david img {
    object-position: center 35%;
  }
}
